<!DOCTYPE html>
<html>
	<head>
		<title>Events</title>
		<% include partials/head.ejs %>
	</head>

	<body>
		<% include partials/nav %>
		
		<main>
			<div class="container">
				<div class="card-panel embed-card">
					<h4 class="purple darken-1 white-text">Current Events</h4>
						<ul class="collection" style="margin-top: 0;">
							<% for(var i = 0; i<data.length; i++){ %>
								<li class="collection-item avatar">
									<a href="/members/event/?id=<%= data[i]._id %>"><i class="material-icons circle purple darken-1">open_in_new</i></a>
									<div class="row">
										<div class="word-wrap col s12 m3">
											<p><a href="/members/event/?id=<%= data[i]._id %>"><%= data[i].event_name %></a><br /><%= data[i].description %></p>
										</div>
										<div class="word-wrap col s12 m3">
											<p><%= data[i].firstname %> <%= data[i].lastname %><br /><a href="mailto:<%= data[i].contact %>"><%= data[i].contact %></a></p>
										</div>
										<div class="word-wrap col s12 m3">
											<p><a href="http://maps.google.com/?q=<%= data[i].location %>" target="_blank"><%= data[i].location %></a></p>
										</div>
										<div class="word-wrap col s12 m3">
											<p><%= data[i].startdate %></p>
										</div>
									</div>
								</li>
							<% } %>
						</ul>
				</div>
				<br />

				<div class="card-panel embed-card">
					<h4 class="red white-text">
						Remove
					</h4>
					<div class="row" style="margin-bottom: 0;">
						<div class="col s10 offset-s1 l6 offset-l3">
							<br />
							<form action="/members/events/delete" method="post">
								<select name="event" required>
								    <option value="Select" selected>Select</option>
								    <% for(var i=0; i<Object.keys(data).length; i++) { %>
								    	<option value="<%= data[i]._id %>"><%= data[i].event_name %></option>
								    <% } %>						    
							    </select>
							    <button class="btn red waves-effect waves-light" type="submit">Remove
									<i class="material-icons right">remove_circle_outline</i>
								</button>
							</form>
							<br />
						</div>
					</div>
				</div>
				<br />
				<h4>Create an event:</h4>
				<form action="/members/events" method="post">
					<div class="row">
						<div class="input-field col s12 m6">
						  <input type="text" name="fname" required>
						  <label>Your First Name (Required)</label>
						</div>
						<div class="input-field col s12 m6">
						  <input type="text" name="lname" required>
						  <label>Your Last Name (Required)</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 m6">
						  <input type="email" name="email" required>
						  <label>Your Email (Required)</label>
						</div>
						<div class="input-field col s12 m6">
						  <input type="text" name="name" required>
						  <label>Event Name (Required)</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
						  <textarea class="materialize-textarea" name="description"></textarea>
						  <label>Description</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
						  <input placeholder="Location" id="location" name="location" type="text">
						  
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 l3">
						  <input placeholder="Start Date" class="datepicker" name="sdate" type="text">
						  <label></label>
						</div>
						<div class="input-field col s12 l3">
						  <input placeholder="End Date" class="datepicker" name="edate" type="text">
						  <label></label>
						</div>
						<div class="input-field col s12 l3">
						  <input placeholder="Start Time" class="timepicker" name="stime" type="text">
						  <label></label>
						</div>
						<div class="input-field col s12 l3">
						  <input placeholder="End Time" class="timepicker" name="etime" type="text">
						  <label></label>
						</div>
					</div>
					<div>
						<button class="btn purple darken-1 waves-effect waves-light" type="submit" name="action">Create Event
							<i class="material-icons right">send</i>
						</button>
					</div>
				</form>
				<br />
			</div>
		</main>
		<br />
		<% include partials/footer %>
		<script>
			$(function(){
				$('select').material_select();
				$('.datepicker').pickadate({
					selectMonths: true, // Creates a dropdown to control month
					selectYears: 5, // Creates a dropdown of 15 years to control year,
					today: 'Today',
					clear: 'Clear',
					close: 'Ok',
					closeOnSelect: false // Close upon selecting a date,
				});
				$('.timepicker').pickatime({
					default: 'now', // Set default time: 'now', '1:30AM', '16:30'
					fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
					twelvehour: true, // Use AM/PM or 24-hour format
					donetext: 'OK', // text for done-button
					cleartext: 'Clear', // text for clear-button
					canceltext: 'Cancel', // Text for cancel-button
					autoclose: false, // automatic close timepicker
					ampmclickable: true, // make AM PM clickable
					// aftershow: function(){} //Function for after opening timepicker
				});
				$("#location").geocomplete();
				if(<%=success%> == true){
					Materialize.toast('Event created!', 2000);
				}
				if(<%=dsuccess%> == true){
					Materialize.toast('Event deleted!', 2000);
				}
				$('.button-collapse').sideNav({
					closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
					draggable: true
				});
				
				/*"airport", "amusement_park", "aquarium", "art_gallery", "atm", "bakery", "bank", "beauty_salon", "bicycle_store", "book_store", "bowling_alley", "bus_station", "cafe", "campground", "car_dealer", "car_rental", "car_repair", "car_wash", "casino", "cemetery", "church", "city_hall", "clothing_store", "convenience_store", "courthouse", "dentist", "department_store", "doctor", "electrician", "electronics_store", "embassy", "fire_station", "florist", "funeral_home", "furniture_store", "gas_station", "gym", "hair_care", "hardware_store", "hindu_temple", "home_goods_store", "hospital", "insurance_agency", "jewelry_store", "laundry", "lawyer", "library", "geocode", liquor_store", "local_government_office", "locksmith", "lodging", "meal_delivery", "meal_takeaway", "mosque", "movie_rental", "movie_theater", "moving_company", "museum", "night_club", "painter", "park", "parking", "pet_store", "pharmacy", "physiotherapist", "plumber", "police", "post_office", "real_estate_agency", "restaurant", "roofing_contractor", "rv_park", "school", "shoe_store", "shopping_mall", "spa", "stadium", "storage", "store", "subway_station", "synagogue", "taxi_stand", "train_station", "transit_station", "travel_agency", "university", "veterinary_care", "zoo"*/
			});
		</script>
		<script src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCskBQy7aj62zdYV23LT8_KFTGWIaymmyQ"></script>
		<script src="//cdn.rawgit.com/ubilabs/geocomplete/85b13a0e/jquery.geocomplete.min.js"></script>
	</body>
</html>

